.page-one{
    position: relative;
    img{
        margin-left: 6rem !important;
    }
   .info{
       @extend .flex-ac;
       flex-direction: column;
       position: absolute;
       left: 4rem;
       top: 12rem;
       z-index: 9;
       button{
        width:235px;
        height: 74px;
        font-size: 1.75rem;
        font-weight: 700;
        border: 1px solid #000000;
        transition: all 0.3s linear;
        font-family:inherit;
        margin-top: 2rem;
        &:hover{
            background: #000000;
            color: #FFFFFF;
        }
       }
    h1{
        font-size: 4rem;
        font-weight: 700;
        text-align: center;
        line-height: 76px;
    }
   }
}