.cart-item{
    display: flex;
   position: fixed;
   top: 0;
   width: 1500px;
   height: 100vh;
    &--left{
        height: 100%;
        width: 50%;
        .info{
            padding-top: 4rem;
            padding-left: 7rem;
            transition: all 1s linear;
            &.move-down{
                transform: translateY(1000px);
                height: 0;
            }
            &.move-purchased{
                padding-top: 0;
            }
            &.purchased{
                transform: translateY(-800px);
                height: 0;
            }
            h2{
                font-size: 2.75rem;
                font-weight: 700;
                text-transform: uppercase;
            }
            h3{
                font-size: 1.7rem;
                text-transform: uppercase;
                font-weight: 500;
            }
            p{
                font-size: 1.25rem;
                font-weight: 500;
                margin-top: 1rem;
                width: 365px;
            }
        }
        .img{
            position: absolute;
            left: 3rem;
            img{
                transform: scaleX(-1);
            }
        }
    }
    &--right{
        height: 100%;
        width: 50%;
        background: #FFFFFF;
        .back{
            border-radius: 8px;
            height: 44px;
            width: 74px;
            background: #FFFFFF;
            margin-top: 4rem;
            margin-left: 5rem;
        }
    }
    &--details{
        display: flex;
        flex-direction: column;
        width: 350px;
        margin: 0 auto;
        position: relative;
        .title{
            text-align: center;
            margin-bottom: 3rem;
        }
        .top{
            margin-top: 4rem;
        }
        .flex, .edit{
            @extend .flex-ac-jb;
        }
        .flex{
            margin-bottom: 1.5rem;
            div{
                @extend .flex-ac;
            }
        }
        .edit{
            width: 31%;
        }
        .border{
            width: 350px;
            height: 1px;
            background: rgba(0, 0, 0, 0.2);
            margin-bottom: 1.5rem;
        }
        .payment-btn{
            width: 100%;
            font-size: 1.25rem;
            font-weight: 700;
            background: #F3F2F1;
            padding: 1rem 0;
            margin-top: 2rem;
            &.complete-btn{
                color: #FFFFFF;
                background: #000000;
            }
            img{
                margin-left: 1.25rem;
            }
            div{
                @extend .flex-ac-jc;
            }
            &:hover{
                svg{
                    animation: shakeRight 0.8s linear forwards;
                }
            }
        }
        h4{
            color: rgba(0, 0, 0, 0.7);
            font-weight: 500;
        }
        p{
            color: rgba(0, 0, 0, 0.6);
            font-weight: 400;
            margin-left: 1rem;
        }

        // Cart Item Summary
        .cart-item-summary{
            transition: all 1s linear;
            transform: translate(0, 0);
            input{
                border: none;
                background: none;
                outline: none;
                width: 100%;
                font-size: 1.25rem;
                font-weight: 600;
            }
            &.hide-summary{
                transform: translate(-1800px, 700px);
            }
            .summary{
                &--title{
                    margin-bottom: 1.5rem;
                }
                .payment{
                    position: relative;
                    cursor: pointer;
                    &--info{
                        position: absolute;
                        left: 2rem;
                        top: -0.15rem;
                    }
                }
    
                .shipping{
                    cursor: pointer;
                }
            }
        }

        //Billing Method
        .billing{
            position: absolute;
            transform: translateY(-800px);
            transition: all 1s linear;
            .border{
                margin-bottom: 1.25rem;
            }
            &--info{
                @extend .flex-ac;
                cursor: pointer;
                margin-bottom: 1.25rem;
                position: relative;
                input{
                    margin-right: 1rem;
                }
                .icon{
                    position: absolute;
                    right: 0;
                }
            }
            &.show-billing{
                transform: translateY(0);
            }
        }

        //Shipping Info
        .shipping-info{
            position: absolute;
            transform: translateY(-800px);
            transition: all 1s linear;
            input{
                color: #667085;
                font-family: 'Inter', sans-serif;
                border: 1px solid #D0D5DD;
                width: 350px;
                padding: 0.75rem 1rem;
                margin-bottom: 1.5rem;
            }
            &.show-shipping{
                transform: translateY(0);
            }
        }

        //ORDER DETAILS
        .order-details{
            position: absolute;
            transform: translateY(-800px);
            margin-top: 5.5rem;
            transition: all 1s linear;
            &.show-checkout{
                transform: translateY(0);
            }
            .name{
                align-items: baseline;
                div{
                    flex-direction: column;
                    align-items: unset;
                }
            }
            button{
                color: #FFFFFF;
                background: #000000;
            }
        }
        .move-down{
            transform: translateY(800px);
            transition: all 1s linear;
        }
        .move-up{
            transform: translateY(0);
            transition: all 1s linear;
        }
        .thank-you-btn{
            transform: translateY(-800px);
            height: 0;
            position: absolute;
            bottom: 1.7rem;
            left: 32%;
            opacity: 0;
            &.move{
                transform: translateY(0);
                opacity: 1;
                transition: all 1s linear;   
            }
        }
    }
}