.product-page{
    position: fixed;
    top: 0;
    width: 1500px;
    height: 100vh;
    display: flex;
    &--left{
        background: #F3F2F1;
        height: 100%;
        width: 50%;
        .sizes{
            // margin-top: 7.5rem;
            margin-left: 11rem;
            header{
                display: flex;
                align-items: baseline;
                gap: 1rem;
                margin-bottom: 3.6rem;
                p{
                    font-weight: 600;
                }
            }
            div{
                margin-bottom: 2rem;
                // @extend .flex-ac;
                // flex-direction: column;
                h3, h4{
                    color: rgba(42, 36, 34, 0.2);
                }
                h3{
                    font-size: 1.5rem;
                }
                h4{
                    font-size: 1.125rem;
                }
            }
        }
        .img{
            position: absolute;
            left: 6rem;
            // bottom: 5rem;
            z-index: 9;
            img{
                transform: scale(0.8);
            }
        }
        .info{
            position: absolute;
            bottom: 3rem;
            left: 6rem;
            h2{
                font-size: 2.75rem;
                font-weight: 700;
                text-transform: uppercase;
            }
            h3{
                font-size: 1.7rem;
                text-transform: uppercase;
                font-weight: 500;
            }
        }
    }
    &--right{
        background: rgba(255, 255, 255, 0.01);
        backdrop-filter: blur(7px);
        height: 100%;
        width: 50%;
        .back{
            border-radius: 8px;
            height: 44px;
            width: 74px;
            background: #FFFFFF;
            position: absolute;
            right: 3rem;
            top: 7.5rem;
        }
    }
}