$padding-top: 2rem;
$padding-x: 24px;
$header-padding-bottom: 6rem;
$font-size-h1: 2.5rem;
$font-size-h2: 2rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1.25rem;
$font-size-h5: 1.125rem;
$font-size-body-lg: 1rem;
$font-size-body: 0.875rem;
$font-size-body-sm: 0.75rem;
$font-size-body-xs: 0.625rem;